<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./user.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <h2>Welcome </h2>
  <div class="form-group">
<form action="/display" method="get">
</div>
  <div class="form-group">
    <label for="fullname">Full name:</label>
    <input type="text" class="form-control" id="fullname" name="fullname" value="<%= information.fullname %>" readonly>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" value="<%= information.email %>" readonly>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" value="********" readonly>
  </div>
  
  
</form>
<div class="form-group">
<form action ="/enableEdit/<%= information.id %>" method = "post">
  <button type="button" class="btn btn-primary" id="edit-profile">Edit Profile</button>
</form>
<form action ="/save/<%= information.id %>" method = "post">
  <button type="submit" class="btn btn-success" id="save-profile" style="display:none;" >Save Profile</button>
</form>
</div>
</body>
</html>